.git/
.venv/
.uv-cache/
__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
.env
.jupyter/
.ipynb_checkpoints/

data/raw/
data/processed/
models/
reports/
mlruns/
mlartifacts/
mlflow.db
prefect_run_id.txt

tests/
docs/
